<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fpe.flames">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/flames_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/flames_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9620947912803669~9418516174"/>

        <activity android:name="com.fpe.flames.Result"
            android:theme="@style/act_theme_no_title"></activity>
        <activity android:name="com.fpe.flames.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- make sure within the application tag, otherwise app will crash with XmlResourceParser errors -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.codepath.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

    </application>

</manifest>